@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* 
.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
} 
  .kode-mono-<uniquifier> {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
*/
/* ++++++++++++++++Página Inicial

Introdução rápida
Foto de perfil
++++++++++++++++++++++++++Sobre Mim

História pessoal e jornada na programação
Habilidades técnicas
Idiomas
Português: Nativo
Inglês: Intermediário
Espanhol: Básico
++++++++++++++++++++++++++Objetivos e Aspirações
Objetivos de Carreira
Aprendizado Contínuo
Projetos Futuros
Contribuições para a Comunidade
Educação Adicional
+++++++++++++++++++++++++Projetos

Projetos Pessoais
Projetos de Curso
++++++++++++++++++++++++++++++++Blog

Artigos e tutoriais sobre experiências, desafios e soluções encontradas
++++++++++++++++++++++++++++++++++Contato

Formulário de Contato
Links para Redes Sociais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
  /*============================*/
  --color-ROXO-40: #1e1a35;
  --color-AZUL-40: #12205d;
  --color-RED-40: #aa1415;
  --color-GREY-40: #9aa5a9;
  --color-WHITE-40: #ffff;
  /*============================*/
  --color-vinho-40: #73091d;
  --color-cinza-40: #172026;
  --color-yellow-40: #f29f05;
  --color-YELLOW_mostarda-40: #d97a07;
  --color-DOURADO-40: #8c5007;
  /*============================*/
  --AZUL-ESCURO-40: #020f59;
  --AZUL-MEDIO-40: #021373;
  --AZUL-CLARO-40: #1f54bf;
  --AZUL-CLAROOOOOO-40: #719ed9;
  --AZUL-MUITO_CLARO-40: #d0dcf2;
  /*============================*/
  --VERDE-ESCURO-40: #d9a31a;
  --VERDE-MEDIO-40: #36414f;
  --VERDE-CLARO-40: #25537a;
  --VERDE-CLAROOOOOO-40: #0076ad;
  /*============================*/
  --FONT-CHACKRA-p:"Chakra Petch", sans-serif;
  --FONT-ORBITRON-T:"Orbitron", sans-serif ;
  --FONT-CODE-T2:"Kode Mono", monospace ;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
.CARRO {
  margin: auto;
  box-shadow: 20px 20px 4px;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.header-image {
  display: flex;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
  width: 1200px;
}

.header-image > img,
.img-with-button > img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.img-with-button {
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

