@import url("globall.css");
/* ++++++++++++++++Página Inicial

Introdução rápida
Foto de perfil
++++++++++++++++++++++++++Sobre Mim

História pessoal e jornada na programação
Habilidades técnicas
Idiomas
Português: Nativo
Inglês: Intermediário
Espanhol: Básico
++++++++++++++++++++++++++Objetivos e Aspirações
Objetivos de Carreira
Aprendizado Contínuo
Projetos Futuros
Contribuições para a Comunidade
Educação Adicional
+++++++++++++++++++++++++Projetos

Projetos Pessoais
Projetos de Curso
++++++++++++++++++++++++++++++++Blog

Artigos e tutoriais sobre experiências, desafios e soluções encontradas
++++++++++++++++++++++++++++++++++Contato

Formulário de Contato
Links para Redes Sociais */

.intro-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--color-ROXO-40);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  z-index: 10;
  overflow: hidden;
}
/* .tet > img{
 height: 600px;
 width: 500px;
} */
.site-content {
  display: none;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
}

.site-content.active {
  display: block;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.CARRO {
  
  box-shadow: 20px 20px 4px var(--color-neutral-30);
  overflow: hidden;
  height: 300px;
  width: 300px;
}

.header-image {
  display: flex;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
  width: 1200px;
}

.header-image > img,
.img-with-button > img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.img-with-button {
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

