@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* .chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --roror-AZUL-ESCURO: #001840;
    --roror-AZUL-CLARO: #102a71;
    --roror-AMARELO-ESCURO: #F5C400;
    --roror-BRANCO-B: #FFFDF0;
    /*==============================================*/
    --roror-PRETO-ESCURO: #1A1C1B;
    --roror-PRETO-p: #000000;
    --roror-PRETO-CLARO: #2A2E2E; 
     --roror-CINZA-B: #555D58;
    --roror-VERDE-B: #95FF77;
    --roror-VERDE-R: #59FF00;
    /*==============================================*/
    /* --roror-AZUL-ESCURO: #001B48;
    --roror-AZUL-SEMI: #02457A;
    --roror-AZUL-AZUL: #018ABE;
    --roror-AZUL-CLARO: #97CADB;
    --roror-NEVE: #D6E8EE; */
    /*==============================================*/


}

body {
    background-color: var(--roror-AZUL-CLARO);
}

html {
    scroll-behavior: smooth;
}

#g {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
    color: var(--roror-BRANCO-B);

    

}
#g:hover{
    color: var(--roror-PRETO-p);
    transition: 0.3s;
   
    
    
}

h2 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: var(--roror-BRANCO-B);
}

p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.header-container {
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    margin-bottom: 50px;
    margin-left: 200px;
}

nav a button {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: var(--roror-CINZA-B);
    color: var(--roror-BRANCO-B);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 40px;
    box-shadow: 10px 10px 4px var(--roror-AZUL-ESCURO);
}

nav a button:hover {
    background-color: var(--roror-PRETO-ESCURO);
    color: var(--roror-VERDE-R);
    transition: 0.3s;
}

.CARRO {
    margin: auto;
    box-shadow: 20px 20px 4px var(--roror-AZUL-ESCURO);
    overflow: hidden;
    height: 600px;
    width: 600px;
}

.header-image {
    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
    width: 1200px;
}

.header-image>img {
    object-fit: cover;
    height: 600px;
    width: 600px;
}

/*===========================SOBRE=================================================*/
#inicio {
    text-align: center;
    margin-top: 100px;
}

.inicio {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "gg txt"
        "gg txt";
    gap: 20px;
    padding: 20px;
}

.txt {
    grid-area: txt;
    font-size: 35px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    color: var(--roror-BRANCO-B);
}

.gg {

    background-color: var(--roror-AZUL-ESCURO);
    grid-area: gg;
    width: 500px;
    height: 500px;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
    box-shadow:0px 0px 20px var(--roror-BRANCO-B);
}

/*=================================================================================*/
#experiencia{
    text-align: center;
}
.teste{
    height: 180vh;
    display: flex;

}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.cards{
    width: 300px;
    background-color: var(--roror-AMARELO-ESCURO);
    border-radius: 8px;
    overflow: hidden;
    box-shadow:20px 20px 4px var(--roror-AZUL-ESCURO);
    margin: 50px;
}
.cards img{
    width: 100%;
    height: auto;
    padding: 16px;
}
.content{
    padding: 16px;
}
.content h3{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  font-size: 30px;
  margin-bottom: 8px;
  color: var(--roror-PRETO-p);
}
.content p{
    text-align: justify;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: var(--roror-BRANCO-B);
}


/*=========================PROJETOS================================================*/
#projetos {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

.PAI-CARROSSEL {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.carrossel {
    position: relative;
    height: 500px;
    width: 400px;
    transform-style: preserve-3d;
    transform: perspective(1100px) rotateY(0deg);
    animation: rotate 12s linear infinite;
}

.carrossel-item {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(500px);
}

.IMG-CARRO {
    position: absolute;
    height: 300px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 20px var(--roror-BRANCO-B);
}

@keyframes rotate {
    100% {
        transform: perspective(1100px) rotateY(360deg);
    }
}

/*=================================================================================*/
/*===========================CONTATOS==============================================*/
#contatos {
    text-align: center;
    margin: 0px;
}

.contatos {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border: var(--roror-AMARELO-ESCURO) solid;
    margin: 0px 300px 20px 300px;
    border-radius: 20px;
}

.contato i {
    border: var(--roror-PRETO-p) solid;
    margin: auto;
    font-size: 50px;
    border-radius: 50%;
    padding: 20px;
}

.contato i.github {
    color: var(--roror-PRETO-p);
}

.contato i.whatsapp {
    color: var(--roror-VERDE-R);
}

.contato i.phone {
    color: #007BFF;
}

.contato i.email {
   color: red;
}

.contato i.linkedin {
    color: #0c22a3;
}

.contato i.download {
    color:yellow;
}

.contato i.github {
    background-color: var(--roror-CINZA-B);
}

.contato i.whatsapp {
    background-color: var(--roror-CINZA-B);
}

.contato i.phone {
    background-color: var(--roror-CINZA-B);
}

.contato i.email {
    background-color: var(--roror-CINZA-B);
}

.contato i.linkedin {
    background-color: var(--roror-CINZA-B);
}

.contato i.download {
    background-color: var(--roror-CINZA-B);
}